.forgot-pw-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.forgot-pw {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-pw-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-pw-logo img{
    width: 120px;
    height: 74.18px;
}

.forgot-pw-title {
    margin-bottom: 20px;
}

.forgot-pw-title a {
    color: #4D4D4D;
    font-size: small;
    font-weight: regular;
    margin-left: 5px;
    text-decoration: none;
}

.forgot-pw-title a:hover {
    text-decoration: underline;
}

.forgot-pw-title h6 {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: regular;
}

.forgot-pw-title .sub-title {
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: regular;
    color: #ABABAB;
}

.label {
    font-size: small;
}

.field-input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
}

.btn-create-pw {
    width: 100%;
    height: 32px;
    margin-top: 10px;
}

.btn-back-login {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-decoration: none;
}

.text-danger {
    font-size: x-small;
    word-wrap: break-word;
    max-width: 100%;
    margin-top: 5px;
}