.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;/* Đảm bảo các phần tử con có thể được định vị tương đối */
    height: 100vh;
  }
  
  .book-item {
    position: relative;
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 1; /* Giá trị z-index mặc định cho các mục sách */
  }
  
  .book-item:hover {
    transform: scale(1.05);
    z-index: 5; /* Tăng giá trị z-index khi di chuột để đảm bảo hiển thị phía trước */
  }
  
  .book-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .book-price {
    margin-top: 10px;
    font-weight: bold;
    color: green;
    background-color: #e0ffe0;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .book-title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .book-info {
    position: absolute;
    top: 0;
    left: 100%; /* Điều chỉnh để phần thông tin chi tiết không bị che phủ */
    width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #2c2b2b;
    color: white;
    z-index: 10; /* Đảm bảo phần thông tin chi tiết hiển thị phía trước */
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%); /* Di chuyển thông tin sang trái */
    transition: transform 0.2s ease-in-out; /* Thêm hiệu ứng chuyển tiếp */
  }
  
  .book-item:hover .book-info {
    transform: translateX(0); /* Hiển thị thông tin khi di chuột */
  }
  
  .book-info-image {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .book-info-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .book-info-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .book-info-price {
    font-weight: bold;
    color: white;
  }
  
  .read-now-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .read-now-button:hover {
    background-color: #218838;
  }