.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.register {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register-logo img {
    width: 120px;
    height: 74.18px;
}

.register-title {
    margin-bottom: 20px;
}

.register-title a {
    color: #4d4d4d;
    font-size: small;
    font-weight: regular;
    margin-left: 5px;
    text-decoration: none;
}

.register-title a:hover {
    text-decoration: underline;
}

.register-title h6 {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: regular;
}

.register-title .sub-title {
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: regular;
    color: #ababab;
}

.label {
    font-size: small;
}

.field-input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ababab;
    border-radius: 5px;
}

.btn-register {
    width: 100%;
    height: 32px;
    margin-top: 10px;
}


.text-danger, .text-success {
    font-size: x-small;
    word-wrap: break-word;
    max-width: 100%;
    margin-top: 5px;
}