.usage-item {
    text-align: center;
    flex: 1;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 220px;
}

.usage-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usage-item-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.usage-item-value {
    font-size: 1.5em;
}

.usage-item-title {
    margin-top: 5px;
    font-size: small;
}
