.field-input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
}

.label {
    font-size: small;
    font-weight: normal;
}